<div class="grand-all-mother">
  <form>
    <div #allMother class="all-mother resize-sidenav grid-stack">
      <ng-content></ng-content>




    </div>
    <div #controller class="controller grid-stack-item" *ngIf="gridConfig.DisplayMode== 1 || gridConfig.DisplayMode">
      <div class="head-container">
        <div class="head"></div>
      </div>
      <div class="selector">
        <select (change)="selectedElement($event)" name="" id="">
          <option angFor="let basic of basics" value="{{basics.id}}">{{basics.name}}</option>
        </select>
      </div>
      <div class="location">
        <input type="text">
        <input type="text">
      </div>
      <div class="location">
        <input type="text">
        <input type="text">
      </div>
    </div>
  </form>
</div>